* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(30, 30, 32);
  color: #fff;
}

nav {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  font-size: 1.2rem;
  overflow: hidden;
}

.building-img {
  height: 80vh;
  margin: 0 10%;
}

.building-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}

.cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.cta-text {
  display: flex;
  font-size: 2rem;
  align-items: center;
}
.cta-text h2 {
  overflow: hidden;
}

.cta-text span {
  padding: 0rem 0.3rem;
  text-shadow: rgb(0, 0, 0, 0.7) 0 0 20px;
  display: block;
}

.btn {
  margin-top: 1rem;
  font-size: 0.8rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(30, 30, 32);
}
